<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudentEnquiry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Mukta">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="..\..\views\libs\script.js"></script>
</head>
<body id="xyz">
  <nav class="navbar navbar-dark bg-dark align-items-end">

    <span style="display: inline-block;" ><img style="height:60px;width:60px;float:left;" src="../SD_Logo_WhiteBG.png">
      <a style="padding-top:20px;padding-left:25px;" class="navbar-brand" href="/home">Student Database</a>
      <a style="color:white;padding: 5px;" href="/home">
        <span class="material-icons">
          home
          </span>
      </a></span>

     
      <form class="form-inline my-2 my-lg-0" method="POST" action="/logout?_method=DELETE">
        
        <button style="width: 100%" class="btn btn-outline-danger my-2 my-sm-0" type="submit" title="Logout"><span class="material-icons">
          exit_to_app
          </span></button>
      </form>
      
    </div>
  </nav>

  